@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");

:root {
  --primary: #f26523;
  --primary-light: #ff7d41;
  --primary-disabled: #dda58a;
}

button.button-primary {
  background: var(--primary);
  border-color: var(--primary);
}

button.button-primary:hover {
  background: var(--primary-light);
  border-color: var(--primary-light);
}

button.button-primary:disabled {
  background: var(--primary-disabled);
  border-color: var(--primary-disabled);
  cursor: not-allowed;
}