{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": ["warn", { "code": 120, "tabWidth": 2, "ignoreComments": true, "ignoreStrings": true, "ignoreTemplateLiterals": true }],
    "init-declarations": ["warn", "always"],
    "func-call-spacing": ["warn", "always", { "allowNewlines": true }],
    "keyword-spacing": "warn",
    "lines-around-comment": ["warn", { "beforeBlockComment": true }],
    "lines-between-class-members": ["error", "always"],
    "no-unneeded-ternary": "warn",
    "object-curly-spacing": ["warn", "always"],
    "semi-style": "warn",
    "space-before-blocks": "warn",
    "space-in-parens": "warn",
    "spaced-comment": ["warn", "always"],
    "arrow-body-style": ["warn", "as-needed"],
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "no-var": "warn",
    "prefer-const": "warn",
    "key-spacing": ["warn", { "align": "value" }],
    "quotes": ["warn", "single"],
    "array-bracket-spacing": "warn",
    "block-spacing": "warn",
    "brace-style": ["warn", "stroustrup", { "allowSingleLine": true }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }]
  }
}