# API key from the discord website
DISCORD_TOKEN=

# Domain this is running on (used for URLs and webhooks)
DOMAIN=

# API keys for strava API
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=

# Run on a custom port
PORT=

# Mongo URI for database
MONGO_URL=

# Discord server's channel ID
SERVER_ID=

# Channels to use (using them in app.js - here to toggle between dev/prod server)
C_ANNOUNCEMENT=
C_COMPACT=
C_ADMIN=